* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/dots-6b14a7af.svg");
  font-family: "Kanit", sans-serif;
}

.notification {
  background-color: #30A5E6;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px;
}

.main-nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.main-nav i {
  font-size: 30px;
  color: #30A5E6;
}
.main-nav .cart {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.nav-item div:hover {
  color: white;
  background: #30A5E6;
  padding: 5px 10px;
  border-radius: 5px;
}

.logo {
  font-size: 40px;
  color: #30A5E6;
}

.nav-item {
  display: flex;
  gap: 30px;
  align-items: baseline;
}
.nav-item a {
  text-decoration: none;
  color: black;
}

.blue-box {
  border: 2px solid #30A5E6;
  padding: 10px 30px;
  font-weight: 1000;
  color: #30A5E6;
}

.blue-box:hover {
  background: #30A5E6;
  color: white;
}

.Hero-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 87px;
}
.Hero-section .main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Hero-section .main-grid .text-container {
  max-width: 28rem;
}
.Hero-section .main-grid a {
  text-decoration: none;
}
.Hero-section .main-grid a button {
  padding: 10px 25px;
  background: #30A5E6;
  border: #30A5E6;
  color: white;
  font-size: 20px;
}

.head-div {
  max-width: 100%;
  background-color: #4288ff;
  position: relative;
  bottom: 40px;
  height: 60px;
}

.plans-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}
.plans-section .text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plans-section .text-container h1 {
  font-size: 30px;
  max-width: 28rem;
  color: #003896;
}
.plans-section .text-container p {
  max-width: 38rem;
}
.plans-section .plans-header {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  background: #f0f6fd;
  width: 210px;
  font-family: monospace;
  word-spacing: 10%;
  color: #003896;
  font-weight: 700;
  border-bottom: 2px solid #003896;
  padding: 30px;
}
.plans-section .main-grid {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  row-gap: 100px;
}
.plans-section .main-grid div {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}
.plans-section .main-grid div div {
  border: none;
  font-size: 1.2rem;
  padding: 0;
}
.plans-section .main-grid div div span {
  color: #4288ff;
}
.plans-section .main-grid div button {
  background: #30A5E6;
  border: 2px solid #30A5E6;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  align-self: flex-end;
}
.plans-section .main-grid div button:hover {
  background: white;
  border: 2px solid #30A5E6;
  color: #30A5E6;
}

.contact-section {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
}
.contact-section .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section .text-container h1 {
  text-align: center;
}
.contact-section .text-container p {
  text-align: center;
  max-width: 35rem;
  font-size: 1.2rem;
}
.contact-section .form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-section .form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  background: #f0f6fd;
  padding: 100px 100px;
  color: #003896;
  font-size: 1.3rem;
  border: 2px solid #003896;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.contact-section .form-container form div input {
  border-radius: 10px;
  border: 2px solid black;
  font-size: 1.1rem;
}
.contact-section .form-container form button {
  position: relative;
  top: 50px;
  background: #003896;
  border: none;
  border-radius: 10px;
  color: white;
}

#footerV {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
#footerV .main-footer {
  margin-top: 250px;
}
#footerV .main-footer .main-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 50px;
}
#footerV .main-footer .main-grid .text-container1 {
  display: flex;
  flex-direction: column;
}
#footerV .main-footer .main-grid .text-container1 a {
  color: black;
  text-decoration: none;
}
#footerV .main-footer .main-grid .text-container2 {
  display: flex;
  flex-direction: column;
}
#footerV .main-footer .main-grid .text-container2 a {
  color: black;
  text-decoration: none;
}
#footerV .main-footer .img-containerF {
  margin-top: 130px;
  max-width: 100%;
}
#footerV .main-footer .img-containerF img {
  max-width: 100%;
}
#footerV .main-footer p {
  margin-top: 150px;
  text-align: center;
}